/*===========================general_slyles==============================*/
* {
    font-family: Inter;
    font-style: normal;
    margin: 0;
}
/*===flex====*/
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.row_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.white_background {
  background: #FFFFFF;
}
/*======tegs=======*/
.page_conteiner {
  width: 100%;
  align-items: center;
  min-width: 1920px;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
p {
  margin: 0;
}

/*=============general_project_color===============*/
.navigation_elements:not(.nav_active_elem):hover,
.navigation_elements:not(.nav_active_elem):hover .nav_elems_icon,
.list_btn_style,
.form_radio_btn label,
.form_veiw_switch label,
.bg_ebf2ff {
  background: rgba(238, 238, 238, 0.41);
}

.bg_ededf0 {
  background: #EDEDF0; 
}

.form_veiw_switch label, 
.tool_description,
.color_5a5b6a {
  color: #5A5B6A;
}

.list_btn_style,
.form_radio_btn input[type=radio]:checked + label,
.submit,
.color_2264d1 {
  color: #2264D1;
}

.list_item_discription,
.form_radio_btn label,
.color_787885 {
  color: #787885;
}
.other_info,
.custumer_title {
  color: #B1B1C4;
}

.log_btn,
.sidebar_main_btn,
.watch,
.submit {
  border: 1px solid #9DC2FF;
}

/*general_font_setting*/
.main_header,
.form_radio_btn label,
.tool_description, 
.font_width_normal {
  font-weight: normal;
}

.submit,
.font_widht_bold {
  font-weight: bold;  
}
.list_item_discription,
.form_radio_btn label,
.tool_description,
.submit,
.font_size_14 {
  font-size: 14px;
}
.content_box {
  box-sizing: content-box;
}
/*general_width*/

.w1920 {
   width: 1920px;
}

.w1114 {
  width: 1114px;
}

/*============================header==============================*/
.main_header {
  align-items: center;
  padding: 21px 0;
  margin-bottom: 14px;
}
.logo {
  padding: 0 16px;
  margin-right: 20px;
  cursor: pointer;
}
.basic_option_container {
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 31.6px;
  letter-spacing: 0.005em;
  margin-right: 106px;
}

.introduction_btn_container:first-of-type{
  margin-right: 26px;
}
.introduction_btn:hover {
  text-shadow: 0 0 0.30px #333, 0 0 0.20px #333;
}
/*==========search_place============*/
.search_place {
  align-items: center;
  width: 668px;
  border-radius: 99px;
  box-sizing: border-box;
  padding: 8px 12px;
  margin-right: 30px;
  border: none;
}

.search_input_btn {
  padding: 1px 2px;
}
.search_input { 
  width: 582px;
  flex-grow: 1;
  border: none;
  color: #19191D;
  font-size: 20px;
  letter-spacing: 0.012em;
  outline: none;
}
.search_input::-webkit-input-placeholder { 
  color: #19191D; 
  }
.search_place:focus-within {
  box-shadow: 0 0 1px 1px #333;
}
/*=================*/
.header_link {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.0075em;
  margin-right: 123px;
}
.header_link:hover {
  text-shadow: 0 0 0.30px #2264D1, 0 0 0.20px #2264D1;
}
/*=======card_action_btn=========*/
.card_action_btn {
  justify-content: space-between;
  align-items: center;
  width: 224px;
  font-family: Quicksand;
  margin-right: 17px;
}

.log_btn {
  padding: 4px 18px;
  box-sizing: content-box;
  border-radius: 4px;
  font-size: 20px;
}
.log_btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  background: #e9e9e9;
}
.active {
  padding: 4px 12px;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border: none;
}
.card_value {
  display: flex;
  position: relative;
}
.number_card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #F44336;
  border-radius: 99px;
  right: -2px;
  top: -11px;
}
.profile_card {
  padding: 3px 3px;
}
.photo {
  max-height: 40px;
  max-width: 40px;
}

/*=========================navigation==============================*/
.navigation_of_page {
  justify-content: center;
  margin-bottom: 36px;
}

.nav_elems_container {
  width: 1488px;
  justify-content: space-around;
}

.navigation_elements {
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 9px 9px;
}
.grow {
  padding: 6.6px 9px 4px 9px;
}
.title_nav_elem {
  letter-spacing: 0.018em;
}
.nav_elems_icon {
  margin-bottom: 6px;
  text-align: center;
}
.navigation_elements:active, .navigation_elements:active .nav_elems_icon {
  color: #2979FF;
}
.nav_active_elem .title_nav_elem {
   color: #2979FF;
}
.navigation_elements:active .nav_elems_icon {
  filter: invert(34%) sepia(79%) saturate(1397%) hue-rotate(202deg) brightness(102%) contrast(109%);
  background: transparent;
}
.nav_active_elem .nav_elems_icon {
  filter: invert(34%) sepia(79%) saturate(1397%) hue-rotate(202deg) brightness(102%) contrast(109%);
  background: transparent;
}
 .nav_active_elem {
  background: #EDEDF0; 
  }
/*========================main_content=============================*/
.main_content {
  width: 1493px;
}
/*============setting_container======================*/
.sidebar_container {
  margin-right: 71px;
  padding-top: 3px;
}
.main_list {
  padding-left: 25px;
  margin-bottom: 35px;
}
.nesting_list {
  /*display: none;*/
  padding-left: 6px;
}
.list_item {
  padding: 9px 0 9px 25px;
}
.list_item:last-of-type {
  padding: 0;
  padding-left: 25px;
}
.nesting_list.list_item {
  padding-left: 30px;
}

.sidebar_main_btn {
  width: 304px;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Quicksand;
  font-size: 24px;
  padding: 8px 57px 8px 18px;
  margin-bottom: 49px;
}
.sidebar_main_btn:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}
.categories_container {
  padding-left:20px;
  letter-spacing: 0.0275em;
  margin-bottom: 23px;
}
.categories {
  padding: 6px 8px;
}


.list_item_title:hover {
  cursor: pointer;
  text-shadow: 0 0 0.30px #333, 0 0 0.20px #333;
}

.list_item_title {
  font-size: 16px;
  letter-spacing: 0.0275em;
  color: #19191D;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
}

.icon_arrow_back {
  background: url("../img/main_content/dep_bar/arrow2.png") center left no-repeat;
}
.cell_phones_dep_li {
  display: none;
}
.dep_title_all {
  padding-left: 23px;
  margin-bottom: 9px;
}
.cell_phones_item {
   padding-left: 10px;
}
.list_item_padding {
  width: 100%;
  padding: 8px 0px 8px 25px;
}


.cell_phones_dep_li {
  padding: 0px 0 8px 10px;  
}

.cell_phones_dep_li {
  padding-left: 20px;
  padding-top: 10px;
}
.first_part_category {
  padding-bottom: 0;
}
.pagination_btn {
  box-sizing: content-box;
  padding: 12px 10px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  margin-right: 104px; 
}
.pagination_btn:hover, .expand:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}
.text_btn {
  margin-right: 16px;
}
.expand {
  padding: 10px 12px;
  border-radius: 4px;
  font-family: Roboto;
  letter-spacing: 0.75px;
}

.list_btn_style {
  border-radius: 4px;
  align-items: center;
}
.coll_filters_container {
  padding: 10px 7px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  margin-bottom: 24px;
  cursor: pointer;
}
.coll_filters_container:hover {
  box-shadow: 0px 3px 2px rgba(58, 58, 68, 0.24), 0px 4px 4px rgba(90, 91, 106, 0.24);
}
.icon_arrow_back_right {
  background: url("../img/main_content/dep_bar/arrow4.png") center right 15px no-repeat;
}
.filters_container {
  padding: 8px 12px;
  background: #F7F7FA;
  border-radius: 4px;
  margin-bottom: 23px;
}
.filters_item {
  padding: 10.3px 8px;
  letter-spacing: 0.0275em;
}
.filters_title {
  margin-bottom: 15px;
}
.filter_year_title {
  margin-bottom: 10px;
}
.check_label {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.check_label+label:hover {
  cursor: pointer;
}
.check_label+label{
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.check_label:hover+label {
  text-shadow:  0 0 0.05px #333, 0 0 0.10px #333;
}
.check_label+label::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border: 2px solid #adb5bd;
  border-radius: 0.15em;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.check_label:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/*=============product_list=================*/

.catalog {
  padding-top: 4px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  margin-bottom: 40px;
}
.catalog_nav {
  align-items: center;
  width: 1114px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
}
.catalog_sort_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  margin: 0 7px;
  border: 1px solid #B4B4BB;
  border-radius: 4px;
  line-height: 143%;
  letter-spacing: 0.018em;
}
.active_select {
  border: 1px solid #5A5B6A;
}
.active_select .custom_select {
   color: black;
}
.catalog_sort_option:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.decorating_conteiner {
  position: relative;
}
.select_conteiner {
  margin-right: 218px; /*!!!!!!!*/
}
.custom_select {
  border: none;
  line-height: 143%;
  letter-spacing: 0.018em;
  appearance: none;
  padding-right: 23px;
  outline: 0;
  background: url("../img/main_content/option/arrow.png") no-repeat right center;
  cursor: pointer;
}
.decor {
  position: absolute;
  top: -16px;
  font-size: 10px;
  line-height: 16px;
  padding: 1px;
}
.option_switch_block {
  border-radius: 4px;
  margin-right: 25px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 15px;
  border-radius: 4px;
  line-height: 143%;
  letter-spacing: 0.018em;
  cursor: pointer;
  background: #EBF2FF;
}
.form_radio_btn:hover label {
  background: #dbe0ea;
}
.form_radio_btn input[type=radio]:checked + label {
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
}
.form_radio_btn input[type=radio]:checked:hover + label {
  background: #f3eaea;
}
.view_handler { 
  border-radius: 4px;
}

.form_veiw_switch input[type=radio] {
	display: none;
}
.form_veiw_switch label {
  box-sizing: content-box;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  background: #EBF2FF;
}
.form_veiw_switch:hover label {
   background: #dbe0ea;
}
.veiw_icon_container {
  padding: 8px 25px;
}
.form_veiw_switch input[type=radio]:checked + label {
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
}
.form_veiw_switch input[type=radio]:checked:hover + label {
  background: #f3eaea;
}
.form_veiw_switch input[type=radio]:checked + label .view_swicth_icon {
  filter: invert(34%) sepia(79%) saturate(1397%) hue-rotate(202deg) brightness(102%) contrast(109%);
  background: transparent;
}

.catalog_filters {
  padding: 0 16px;
  align-items: center;
  width: 1114px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #19191D;
  margin-bottom: 10px;
}

.selected_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  margin: 0 7px;
  border-radius: 99px;
  line-height: 143%;
}

.catalog_list {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.tile {
  width: 23%;
  margin: 10px 11px 10px 8px;
  box-sizing: border-box;
  padding: 12px 10px 17px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.tile_price {
  padding-right: 7px;
  margin-bottom: 13px;
  justify-content: space-between;
  align-items: center;

}
.sell_decor_label {
  color: #37833B;
  box-sizing: content-box;
  background: #ECF7ED;
  border-radius: 4px;
  padding: 6px 10px;
  font-family: Roboto;
  font-size: 12px;
  text-align: center;
}
.good_deal_label {
  color: #C23564;
  box-sizing: content-box;
  background: #FDEDF2;
  border-radius: 4px;
  padding: 6px 10px;
  font-family: Roboto;
  font-size: 12px;
  text-align: center;
}
.img_case {
  margin-bottom: 10px;
  max-width: 227px;
  max-height: 227px;
}
.tile_discription {
  height: 20%;
  padding-right: 3%;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  margin-bottom: 13px;
}
.tile:hover {
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}
.tile_post_text {
  padding-right: 9%;
  height: 12%;
  line-height: 143%;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  margin-bottom: 12px;
}
.watch {
  background: url("../img/main_content/option/heart.png") no-repeat left 10px center;
  align-items: center;
  border-radius: 4px;
  line-height: 143%;
  letter-spacing: 0.018em;
  padding: 2px 7px 5px 32px;
}
.watch:hover {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}

.grade_row {
  align-items: center;
  width: 100%;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #5E6366;
}
.grade_num {
  margin-right: 27px;
}

.grade_stars {
  margin-right: 16px;
}
/*====================tools=====================*/

.tools_conteiner {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 92px;
}
.tool {
  align-items: center;
  box-sizing: border-box;
  width: 32%;
  border-radius: 8px;
  padding: 26px 10px 23px 10px;
  border-radius: 8px;
}
.tool:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  cursor: pointer;
}
.tool_icon {
  margin-bottom: 15px;
  width: 42px;
  height: 42px;
  text-align: center;
}
.tool_title{
  padding: 10px 0 8px 0;
  font-family: Quicksand;
  font-size: 20px;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
}
.tool_title:last-of-type {
  padding: 17px 0 8px 0;
}
.tool_description {
  line-height: 143%;
  letter-spacing: 0.018em;
}

/*=============================footer=============================*/
.main_footer {
  align-items: center;
  background: #F7F7FA;
  min-width: 1920px;
}
.feedback_block {
 
  margin-left: 470px;
  padding: 3px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.contacts_btn {
  align-items: center;
}
.contacts_row {
  align-items: center;
  padding: 14px 0;
  font-size: 12px;
  margin-right: 65px;
}
.phone_block {
  margin-right: 23px;
}
.mail_block {
   margin-right: 40px;
}
.contacts_row_text {
  margin: 0;
  padding-top: 3px;
}

.cooperation_row {
  height: 50px;
  background: #E6E6EA;
  width: 100%;
  justify-content: center;
}
.cooperation_row_content {
  width: 1114px;
  height: 100%;
  align-items: center;
  margin-left: 374px;
 
}
.CRC_part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 371px;
  height: 100%; 
  font-size: 16px;
  padding: 0 6px;
  border-right: 1px solid #D1D1E1;
  letter-spacing: 0.0275em;
}

.mail_input {
  outline: none;
  background: inherit;
  border: none;
  letter-spacing: 0.018em;
}
.mail_input:focus {
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}
.CRC_form {
  padding-left: 0;
  justify-content: space-between;
  margin-right: 10px;
}
.example_mail {
  display: flex;
}
.submit {
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.0075em;
  padding: 9px 27px;
}
.submit:hover {
   box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}
.custumer_title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
}
.link {
  width: 450px;
  justify-content: space-between; 
  padding: 8px 0;
  margin-bottom: 3px;
}
.phone_num {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.0275em;
  color: #1F1F1F;
  margin: 0;
  padding-bottom: 5px;
}
.treking_order_btn {
  border-radius: 4px;
  font-family: Roboto;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  padding: 11.5px 20.5px;
  margin-right: 30px;
}
 .treking_order_btn:hover {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2); 
}
.fb_icon {
margin-right: 20px;
}

.tw_icon {
margin-right: 20px;
}
.fb_icon:hover, .tw_icon:hover {
  height: 40px;
  border-radius: 10px;
   box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2); 
   
}

.example_mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.other_info_container {
  width: 100%;
  justify-content: center;
}
.other_info {
  width: 1114px;
  padding: 16px 0;
  margin-left: 390px;
  font-size: 12px;
}
.support_info {
  font-size: 12px;
  margin-right: 295px;
}
.support_info:first-of-type {
  justify-content: flex-start;
}
.some_policy {
  width: 142px;
  justify-content: space-between;
}
.bank_sistems {
 width: 105px;
 justify-content: space-between;
 align-items: center;
 margin-right: 365px;
}

.opening>li {
  display: block;
 
}
.opening.icon_arrow_back {
 background: url("../img/main_content/dep_bar/arrow3.png") center left no-repeat;
}
.opening.icon_arrow_back_right {
 background: url("../img/main_content/dep_bar/arrow3.png") center right 23px no-repeat;
}
.mail {
  padding: 4px 12px 4px 1px;
  margin-right: 16px;
  border-right: 1px solid #5A5B6A;
}

